--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE nvidia;
--
-- Name: nvidia; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE nvidia WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'fr-FR';


ALTER DATABASE nvidia OWNER TO postgres;

\connect nvidia

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities (
    activity_id integer NOT NULL,
    name character varying(20) NOT NULL
);


ALTER TABLE public.activities OWNER TO postgres;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activities_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_activity_id_seq OWNER TO postgres;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activities_activity_id_seq OWNED BY public.activities.activity_id;


--
-- Name: quarterly_financials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quarterly_financials (
    yq_id integer NOT NULL,
    revenue integer NOT NULL,
    operating_income integer NOT NULL,
    net_income integer NOT NULL,
    gross_margin_percentage numeric(4,2) NOT NULL,
    taxes_and_interests integer,
    cost_of_goods_sold integer,
    gross_profit integer,
    operating_expenses integer,
    cogs_opex_difference integer
);


ALTER TABLE public.quarterly_financials OWNER TO postgres;

--
-- Name: quarterly_revenue_per_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quarterly_revenue_per_activity (
    yq_id integer NOT NULL,
    activity_id integer NOT NULL,
    ammount integer NOT NULL
);


ALTER TABLE public.quarterly_revenue_per_activity OWNER TO postgres;

--
-- Name: quarters_per_year; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quarters_per_year (
    yq_id integer NOT NULL,
    quarter integer NOT NULL,
    year integer NOT NULL
);


ALTER TABLE public.quarters_per_year OWNER TO postgres;

--
-- Name: quarters_per_year_yq_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quarters_per_year_yq_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quarters_per_year_yq_id_seq OWNER TO postgres;

--
-- Name: quarters_per_year_yq_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quarters_per_year_yq_id_seq OWNED BY public.quarters_per_year.yq_id;


--
-- Name: shares_numbers_in_million; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shares_numbers_in_million (
    year integer NOT NULL,
    treasury_stock numeric(11,4),
    total_outstanding numeric(11,4),
    insiders numeric(11,4),
    institutions_top_3 numeric(11,4),
    rest numeric(11,4)
);


ALTER TABLE public.shares_numbers_in_million OWNER TO postgres;

--
-- Name: valuations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.valuations (
    year integer NOT NULL,
    equity_value_per_share numeric(5,2),
    average_market_cap integer,
    enterprise_value integer
);


ALTER TABLE public.valuations OWNER TO postgres;

--
-- Name: yearly_financials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.yearly_financials (
    year integer NOT NULL,
    revenue integer NOT NULL,
    operating_income integer NOT NULL,
    net_income integer NOT NULL,
    gross_margin_percentage numeric(4,2) NOT NULL,
    taxes_and_interests integer,
    cost_of_goods_sold integer,
    gross_profit integer,
    operating_expenses integer NOT NULL,
    cogs_opex_difference integer
);


ALTER TABLE public.yearly_financials OWNER TO postgres;

--
-- Name: yearly_financials_extra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.yearly_financials_extra (
    year integer NOT NULL,
    total_assets integer,
    total_liabilities integer,
    total_debt integer,
    cash_and_cash_equivalents integer,
    net_debt integer,
    average_stock_price numeric(7,3),
    depreciation_and_amortization integer
);


ALTER TABLE public.yearly_financials_extra OWNER TO postgres;

--
-- Name: yearly_revenue_per_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.yearly_revenue_per_activity (
    year integer NOT NULL,
    activity_id integer NOT NULL,
    ammount integer NOT NULL
);


ALTER TABLE public.yearly_revenue_per_activity OWNER TO postgres;

--
-- Name: activities activity_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities ALTER COLUMN activity_id SET DEFAULT nextval('public.activities_activity_id_seq'::regclass);


--
-- Name: quarters_per_year yq_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarters_per_year ALTER COLUMN yq_id SET DEFAULT nextval('public.quarters_per_year_yq_id_seq'::regclass);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.activities VALUES (1, 'Gaming');
INSERT INTO public.activities VALUES (2, 'Data Center');
INSERT INTO public.activities VALUES (3, 'ProViz');


--
-- Data for Name: quarterly_financials; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.quarterly_financials VALUES (1, 3207, 1295, 1244, 64.50, NULL, NULL, NULL, 773, NULL);
INSERT INTO public.quarterly_financials VALUES (2, 3123, 1157, 1101, 63.60, NULL, NULL, NULL, 818, NULL);
INSERT INTO public.quarterly_financials VALUES (3, 3181, 1058, 1230, 60.40, NULL, NULL, NULL, 863, NULL);


--
-- Data for Name: quarterly_revenue_per_activity; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.quarterly_revenue_per_activity VALUES (1, 1, 1723);
INSERT INTO public.quarterly_revenue_per_activity VALUES (1, 3, 251);
INSERT INTO public.quarterly_revenue_per_activity VALUES (1, 2, 701);


--
-- Data for Name: quarters_per_year; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.quarters_per_year VALUES (1, 1, 2019);
INSERT INTO public.quarters_per_year VALUES (2, 2, 2019);
INSERT INTO public.quarters_per_year VALUES (3, 3, 2019);


--
-- Data for Name: shares_numbers_in_million; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.shares_numbers_in_million VALUES (2019, 92630.0000, 24230.0000, 1124.0437, 5348.7583, 17757.1980);
INSERT INTO public.shares_numbers_in_million VALUES (2020, 98140.0000, 24500.0000, 1104.6834, 5298.1885, 18097.1281);
INSERT INTO public.shares_numbers_in_million VALUES (2021, 107560.0000, 24790.0000, 1052.2381, 5458.5336, 18279.2283);


--
-- Data for Name: valuations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: yearly_financials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: yearly_financials_extra; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.yearly_financials_extra VALUES (2019, 13292, 3950, 1988, 782, 1206, 4.339, 262);
INSERT INTO public.yearly_financials_extra VALUES (2020, 17315, 5111, 1991, 10896, -8905, 9.859, 381);
INSERT INTO public.yearly_financials_extra VALUES (2021, 28791, 11898, 6963, 847, 6116, 19.483, 1098);


--
-- Data for Name: yearly_revenue_per_activity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: activities_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activities_activity_id_seq', 5, true);


--
-- Name: quarters_per_year_yq_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quarters_per_year_yq_id_seq', 28, true);


--
-- Name: activities activities_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_name_key UNIQUE (name);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (activity_id);


--
-- Name: quarterly_financials quarterly_financials_yq_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_financials
    ADD CONSTRAINT quarterly_financials_yq_id_key UNIQUE (yq_id);


--
-- Name: quarters_per_year quarters_per_year_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarters_per_year
    ADD CONSTRAINT quarters_per_year_pkey PRIMARY KEY (yq_id);


--
-- Name: shares_numbers_in_million shares_numbers_in_million_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shares_numbers_in_million
    ADD CONSTRAINT shares_numbers_in_million_year_key UNIQUE (year);


--
-- Name: valuations valuations_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.valuations
    ADD CONSTRAINT valuations_year_key UNIQUE (year);


--
-- Name: yearly_financials_extra yearly_financials_extra_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yearly_financials_extra
    ADD CONSTRAINT yearly_financials_extra_year_key UNIQUE (year);


--
-- Name: yearly_financials yearly_financials_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yearly_financials
    ADD CONSTRAINT yearly_financials_year_key UNIQUE (year);


--
-- Name: quarterly_financials quarterly_financials_yq_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_financials
    ADD CONSTRAINT quarterly_financials_yq_id_fkey FOREIGN KEY (yq_id) REFERENCES public.quarters_per_year(yq_id);


--
-- Name: quarterly_revenue_per_activity quarterly_revenue_per_activity_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_revenue_per_activity
    ADD CONSTRAINT quarterly_revenue_per_activity_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activities(activity_id);


--
-- Name: quarterly_revenue_per_activity quarterly_revenue_per_activity_yq_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_revenue_per_activity
    ADD CONSTRAINT quarterly_revenue_per_activity_yq_id_fkey FOREIGN KEY (yq_id) REFERENCES public.quarters_per_year(yq_id);


--
-- PostgreSQL database dump complete
--

